.spilt{
    width: 100%;
    background-color: yellowgreen;
}

.left{
    width: 25%;
    height: 100%;
    float: left;
    background: green;
    margin: auto;
}

.right{
    width: 75%;
    height: 100%;
    float: right;
    background: white;
    margin: auto;
    position: relative;
}

/* Button */
button.AddTrade {
    position: absolute;
    top: 5px;
    right: 10px;
}